cra-server-ex.graffle
node_modules
npm-debug.log
client/build
.vscode/
.idea/
.DS_Store

# Log files are downloaded automatically, ignore the folder
logs/

# private info in here
# includes DB_HOST url, which has a dev and a production version
.env
*.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python precompiled files
*.pyc


# Soe files
*.pem
kls.pgsql
KLS-py
