files:
  /etc/nginx/conf.d/tensorboard.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 8080;
          server_name tensorboard.deepseaannotations.com;

          location / {
              proxy_pass http://localhost:6008;
          }   
      }

commands:
  tensorboard_install:
    command: pip install tensorboard==2.0.0
